.container{
    width:500px;
    height:12px;
    display: flex;
    border-radius: 1000px;
    background-color: var(--cream-light);
    overflow:hidden;
    
    span{
        border-radius: 1000px;
        background-color: var(--black);
    }
}